* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: aliceblue;
  display: flex;
  height: 100vh;
  font-family: 'Arial';
}

.btn-box {
  margin: auto;
}

.btn {
  color: #fff;
  background-color: #dc3545;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 276px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}

.popover-header {
  font-size: 22px;
  padding: 8px 12px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}

.arrow::after, .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.arrow {
  position: absolute;
  display: block;
  left: 124px;
  width: 8px;
  height: 8px;
}

.popover>.arrow::after {
  bottom: 1px;
  border-width: 8px 8px 0;
  border-top-color: #fff;
}

.popover>.arrow::before {
  border-width: 8px 8px 0;
  border-top-color: rgba(0,0,0,.25);
}

.popover-body {
  padding: 10px 15px;
}

.hidden {
  display: none;
}